<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Page Title</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <!--Banner Image Coding Start-->
  <div>
  <div class="img-txt">
     <h2>Fabric Of The<br>Environment
      <div class="hrln"></div>    
    </h2>
      <div class="hrdv"></div>
      <p class="p-size">Your actions can revive the weakening <br> Fabric of our community</p>
      <p class="p-size">The processes involved in fast fashion<br>are adversely affection our health,<br>worker’s livelihood indigenous crafts.</p>
  </div>
</div>
  <!--Banner Image Coding Closed-->
  <!--Image Text Codding Start-->
    <div class="container">
        <h3>Latest-Post</h3>
    <div class="block">
      <div class="row">
        <div class="col-sm-12">
        <div class="span4">
          <img class="img-left" src="./assets/images/footer2.jpg" alt="footer2.jpg" width="65%">
          <div class="content-heading"> &nbsp; &nbsp;
            <h4 class="title"><a href="">ENVIRONMENTAL IMPACTS</a></h4>
            <p>All You Need To Know About Natural Dyes.</p>
          </div>  
      </div>
      </div>
      </div>
      <br> <br>
      <div class="row">
        <div class="col-sm-12">
          <div class="span4">
            <img class="img-right" src="./assets/images/footer3.jpg" width="65%">
            <div class="content-heading">
                <h4>ENVIRONMENTAL IMPACTS</h4></div>
                <p>Not to Dye for: Harmful Textile Dyeing.</p>
          </div>
        </div>
        </div>
       
    </div>
  </div>
  <!--Image Text Coding Closed-->
  <!--Carousel Wrapper-->
<div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">

    <!--Controls-->
    <div class="controls-top">
      <a class="btn-floating" href="#multi-item-example" data-slide="prev"><i class="fas fa-chevron-left"></i></a>
      <a class="btn-floating" href="#multi-item-example" data-slide="next"><i class="fas fa-chevron-right"></i></a>
    </div>
    <!--/.Controls-->
  
    <!--Indicators-->
    <ol class="carousel-indicators">
      <li data-target="#multi-item-example" data-slide-to="0" class="active"></li>
      <li data-target="#multi-item-example" data-slide-to="1"></li>
      <li data-target="#multi-item-example" data-slide-to="2"></li>
    </ol>
    <!--/.Indicators-->
  
    <!--Slides-->
    <div class="carousel-inner" role="listbox">
  
      <!--First slide-->
      <div class="carousel-item active">
  
        <div class="col-md-4">
          <div class="card mb-2">
            <img class="card-img-top" src="./assets/images/footer1.jpg" alt="Card image cap" height="400px">
            <div class="card-body">
              <h4 class="card-title">Card title</h4>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                card's content.</p>
              <a class="btn btn-primary">Button</a>
            </div>
          </div>
        </div>
  
        <div class="col-md-4 clearfix d-none d-md-block">
          <div class="card mb-2">
            <img class="card-img-top" src="./assets/images/footer2.jpg" alt="Card image cap" height="400px">
            <div class="card-body">
              <h4 class="card-title">Card title</h4>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                card's content.</p>
              <a class="btn btn-primary">Button</a>
            </div>
          </div>
        </div>
  
        <div class="col-md-4 clearfix d-none d-md-block">
          <div class="card mb-2">
            <img class="card-img-top" src="./assets/images/footer3.jpg" alt="Card image cap" height="400px">
            <div class="card-body">
              <h4 class="card-title">Card title</h4>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                card's content.</p>
              <a class="btn btn-primary">Button</a>
            </div>
          </div>
        </div>
  
      </div>
      <!--/.First slide-->
  
      <!--Second slide-->
      <div class="carousel-item">
  
        <div class="col-md-4">
          <div class="card mb-2">
            <img class="card-img-top" src="./assets/images/footer4.jpg" alt="Card image cap" height="400px">
            <div class="card-body">
              <h4 class="card-title">Card title</h4>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                card's content.</p>
              <a class="btn btn-primary">Button</a>
            </div>
          </div>
        </div>
  
        <div class="col-md-4 clearfix d-none d-md-block">
          <div class="card mb-2">
            <img class="card-img-top" src="./assets/images/footer5.jpg" alt="Card image cap" height="400px">
            <div class="card-body">
              <h4 class="card-title">Card title</h4>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                card's content.</p>
              <a class="btn btn-primary">Button</a>
            </div>
          </div>
        </div>
  
        <div class="col-md-4 clearfix d-none d-md-block">
          <div class="card mb-2">
            <img class="card-img-top" src="./assets/images/footer6.jpg" alt="Card image cap" height="400px">
            <div class="card-body">
              <h4 class="card-title">Card title</h4>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                card's content.</p>
              <a class="btn btn-primary">Button</a>
            </div>
          </div>
        </div>
  
      </div>
      <!--/.Second slide-->
  
      <!--Third slide-->
      <div class="carousel-item">
  
        <div class="col-md-4">
          <div class="card mb-2">
            <img class="card-img-top" src="./assets/images/footer7.jpg" alt="Card image cap" height="400px">
            <div class="card-body">
              <h4 class="card-title">Card title</h4>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                card's content.</p>
              <a class="btn btn-primary">Button</a>
            </div>
          </div>
        </div>
  
        <div class="col-md-4 clearfix d-none d-md-block">
          <div class="card mb-2">
            <img class="card-img-top" src="./assets/images/footer8.jpg" alt="Card image cap" height="400px">
            <div class="card-body">
              <h4 class="card-title">Card title</h4>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                card's content.</p>
              <a class="btn btn-primary">Button</a>
            </div>
          </div>
        </div>
  
        <div class="col-md-4 clearfix d-none d-md-block">
          <div class="card mb-2">
            <img class="card-img-top" src="./assets/images/footer9.jpg" alt="Card image cap" height="400px">
            <div class="card-body">
              <h4 class="card-title">Card title</h4>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                card's content.</p>
              <a class="btn btn-primary">Button</a>
            </div>
          </div>
        </div>
  
      </div>
      <!--/.Third slide-->
  
    </div>
    <!--/.Slides-->
  
  </div>
  <!--/.Carousel Wrapper-->
</body>
</html>