<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Page Title</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <!--Banner Image Coding Start-->
   <div class="img-txt"></div>
  <!--Banner Image Coding Closed-->
  <br> <br>
  <!--Image Pagination Coding Start-->
  
  <div class="griid">
      <div class="container-fluid">
        <div class=" gallery-container">
          <div class="tz-gallery">
            <div class="row mb-3">
              <div class="col-md-4">
                <a class="lightbox" href="#">
                    <div class="hvr-box">
                  <img src="./assets/images/calltoaction/calltoaction-1.png" alt="Park" class="img-hovr" height="390px">
                  <div class="hvrbox-layer_top">
                    <div class="hvrbox-text">
                      <div class="gren"></div>
                    </div>
                  </div>  
                </div>
                  <br> <br>
                    <div class="txt-area">
                      <p class="env"> <a href="#">CALL TO ACTION</a></p>
                      <h3 class="call-title">GREENING YOUR LAUNDRY HABITS</h3>
                      <p class="env-txt">IF YOU HAVE BEEN READING ABOUT THE ILL-EFFECTS OF CHEMICAL DETERGENTS AND DRY CLEANING TO OUR HEALTH AND ENVIRONMENT, YOU KNOW THAT A PEDESTRIAN CHORE LIKE […]</p>
                    </div>
                </a>
              </div>
                     <br> <br>  
              <div class="col-md-4">
                <a class="lightbox" href="#">
                    <div class="hvr-box">
                  <img src="./assets/images/calltoaction/calltoaction-2.png" alt="Park" class="img-hovr" height="390px">
                  <div class="hvrbox-layer_top">
                      <div class="hvrbox-text">
                          <h4>DONATE TO MULTIPLE CAUSES. AFRICA MAY NOT WANT YOUR CLOTHES. BUT MANY OTHERS DO. </h4>
                        <div class="gren"></div>
                      </div>
                    </div>  
                    </div>
                  <br> <br>
                  <div class="txt-area">
                      <p class="env"> <a href="#">CALL TO ACTION</a></p>
                      <h3 class="call-title">DONATE YOUR FASHION ITEMS</h3>
                      <p class="env-txt">DONATING YOUR UNUSED ITEMS IS THE EASIEST WAY TO HELP OUR PLANET !</p>
                    </div>
                </a>
              </div>
              <br> <br>  
              <div class="col-md-4">
                <a class="lightbox" href="#">
                    <div class="hvr-box">
                  <img src="./assets/images/calltoaction/calltoaction-3.png" alt="Park" class="img-hovr" height="390px;">
                  <div class="hvrbox-layer_top">
                      <div class="hvrbox-text">
                        <h4>WANT TO LEAD THE WAY ?
                            JOIN PASSIONATE INFLUENCERS  IN SPREADING THE WORLD,  </h4>
                        <div class="gren"></div>
                      </div>
                    </div> 
                    </div> 
                  <br> <br>
                  <div class="txt-area">
                      <p class="env"> <a href="#">CALL TO ACTION</a></p>
                      <h3 class="call-title">SUSTAINABLE FASHION MOVEMENTS</h3>
                      <p class="env-txt">ALL YOU HAVE TO DO IS JOIN SIGN UP AND SHOW YOUR SUPPORT</p>
                    </div>
                </a>
              </div>
            </div>
            <br> <br>  
            <div class="row mb-3"> 
              <div class="col-md-4">
                <a class="lightbox" href="#">
                    <div class="hvr-box">
                  <img src="./assets/images/calltoaction/calltoaction-4.png" alt="Park" class="img-hovr" height="390px">
                  <div class="hvrbox-layer_top">
                      <div class="hvrbox-text">
                        <h4>THE UBERISATION OF FASHION  IS HARE. SHARE  CLOTHES  TO HAVE ACCESS TO MORE CLOTHES & NATURAL RESOURCES! </h4>
                        <div class="gren"></div>
                      </div>
                    </div> 
                    </div>
                  <br> <br>
                  <div class="txt-area">
                      <p class="env"> <a href="#">CALL TO ACTION</a></p>
                      <h3 class="call-title">SHARE YOUR FASHION ITEMS</h3>
                      <p class="env-txt">FASHION ITEM HAS IT'S OWN SHARING ECONOMY</p>
                    </div>
                </a>
              </div>
                  <br> <br>    
              <div class="col-md-4">
                <a class="lightbox" href="#">
                    <div class="hvr-box">
                  <img src="./assets/images/calltoaction/calltoaction-5.png" alt="Park" class="img-hovr" height="390px">
                  <div class="hvrbox-layer_top">
                      <div class="hvrbox-text">
                        <h4>SUSTAINABILITY BEGINS  AT HOME.  YOU CAN MAKE A GLOBAL IMPACT FROM  UNDER  YOUR  OWN ROOF!</h4>
                        <div class="gren"></div>
                      </div>
                    </div> 
                    </div>
                   <br> <br>
                  <div class="txt-area">
                      <p class="env"> <a href="#">CALL TO ACTION</a></p>
                      <h3 class="call-title">THINGS YOU DO IN YOUR OWN HOME</h3>
                      <p class="env-txt">DONATING YOUR UNUSED ITEMS IS THE EASIEST WAY TO HELP OUR PLANET !</p>
                    </div>
                </a>
              </div>
                  <br> <br>
              <div class="col-md-4">
                <a class="lightbox" href="#">
                    <div class="hvr-box">
                  <img src="./assets/images/calltoaction/calltoaction-6.png" alt="Park" class="img-hovr" height="390px">
                  <div class="hvrbox-layer_top">
                      <div class="hvrbox-text">
                        <h4>WHAT'S THE POINT OF BEING FASHIONABLE IF WE WON'T HAVE A PLANET TO DRESS UP ON ?</h4>
                        <div class="gren"></div>
                      </div>
                    </div> 
                    </div>
                  <br> <br>
                  <div class="txt-area">
                      <p class="env"> <a href="#">CALL TO ACTION</a></p>
                      <h3 class="call-title">SHOP ENVIRONMENTALLY FRIENDLY</h3>
                      <p class="env-txt">ALL YOU HAVE TO DO IS JOIN SIGN UP AND SHOW YOUR SUPPORT</p> 
                    </div>
                </a>
              </div>
            </div>
              <br> <br>
              <div class="row mb-3">
              <div class="col-md-4">
                  <a class="lightbox" href="#">
                      <div class="hvr-box">
                    <img src="./assets/images/calltoaction/calltoaction-7.png" alt="Park" class="img-hovr" height="390px">
                    <div class="hvrbox-layer_top">
                        <div class="hvrbox-text">
                          <h4>RESPECT THE  MAKERS THAT ENABLE YOU USE FASHION TO EXPRESS YOURSELF.</h4>
                          <div class="gren"></div>
                        </div>
                      </div> 
                      </div>
                    <br><br>
                    <div class="txt-area">
                        <p class="env"> <a href="#">CALL TO ACTION</a></p>
                        <h3 class="call-title">SHOP ETHICALLY SOURCED</h3>
                        <p class="env-txt">FASHION ITEM HAS IT'S OWN SHARING ECONOMY
                          </p>
                      </div>
                  </a>
                </div>
                <br> <br>
            </div>
          </div>    
        </div>
      </div>
    </div>
  <!--Image Pagination Coding Closed-->

  <!--Footer Coding Start-->
<footer>
    <div class="fot-dv1">
    <div class="col-sm-4">
      <div class="col-md-9">
      <img class="footer-img" src="./assets/images/footer-img.png" alt="">
      <br>
      <br>
      <div class="fotxt">
      <p class="footer-txt">is a community of thought leaders who support textile & fashion sustainability.  Our aim is to create awareness and inspire changes across the textile life-cycle.</p>
      <p class="footer-txt">The Fabric of our World relies on us to work collectively to solve this global issue.</p>
    </div>
  </div>
  </div>
  </div>
     
   <div class="col-sm-8">
     <div id="id1" class="col-4 inner_item">
       <div class="idd1">
          <h2>Follow Us</h2>
          <li><a class="social" href="#"><i class="fab fa-instagram"></i></a></li>
          <li><a id="socil" class="social" href="#"><i class="fab fa-facebook-f"></i></a></li> 
       </div>
     </div>
     <div id="id2" class="col-4 inner_item">
       <div class="idd2">
          <h2>Connect</h2>
          <div class="menu1">
              <p>CONTRIBUTORS</p>
              <P>CONTACT US</P>
              <P>ASK AN EXPERT</P>
            </div>
       </div>
     </div>
     <div id="id3" class="col-4 inner_item">
       <div class="idd3">
          <h2>Explore</h2>
          <div class="menu1">
              <p>ABOUT</p>
              <P>INNVOATOIN</P>
              <P>COMMUNITY</P>
              <P>ENVIRONMENT</P>
              <P>CALL TO ACTION</P>
            </div>
       </div>
     </div>
   </div>
  
  </footer>
    <!--Footer Coding Closed-->
  
     <!--Copy Right Coding Start-->
     <div class="right-copy">
        © 2014 - 2018 Fabric of the World. All Rights Reserved					
     </div>
<!--Copy Right Coding Closed-->
</body>
</html>