<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Page Title</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <!--Banner Image Coding Start-->
  <div class="img-control">
  <div class="img-txt">
     <h2 class="h2-1">Fabric Of The<br>Environment</h2>
     <div class="hrln"></div>  
      <div class="hrdv"></div>
      <p class="p-size">Your actions can revive the weakening <br> Fabric of our community</p>
      <p class="p-size">The processes involved in fast fashion<br>are adversely affection our health,<br>worker’s livelihood indigenous crafts.</p>
  </div>
</div>
  <!--Banner Image Coding Closed-->

  <!--Image Pagination Coding Start-->
  
  <div class="griid">
      <div class="container-fluid">
        <div class=" gallery-container">
          <div class="tz-gallery">
            <div class="row mb-3">
              <div class="col-md-4">
                <a class="lightbox" href="#">
                  <img src="./assets/images/environment-page2/2-1.png" alt="Park" class="img-hovr" height="390px">
                  <br> <br>
                    <div class="txt-area">
                      <p class="env"> <a href="#">ENVIRONMENTAL IMPACTS</a></p>
                      <p class="env-txt">Fabric Dyeing = Death Water Bodies : Hazardous Effects of Textile Dyes</p>
                    </div>
                </a>
              </div>
                     <br> <br>  
              <div class="col-md-4">
                <a class="lightbox" href="#">
                  <img src="./assets/images/environment-page2/2-2.png" alt="Park" class="img-hovr" height="390px">
                  <br> <br>
                  <div class="txt-area">
                      <p class="env"> <a href="#">ENVIRONMENTAL IMPACTS</a></p>
                      <p class="env-txt">Breaking Down the Chemicals Used in Each Stage of Textile Production</p>
                    </div>
                </a>
              </div>
              <br> <br>  
              <div class="col-md-4">
                <a class="lightbox" href="#">
                  <img src="./assets/images/environment-page2/2-3.png" alt="Park" class="img-hovr" height="390px;">
                  <br> <br>
                  <div class="txt-area">
                      <p class="env"> <a href="#">ENVIRONMENTAL IMPACTS</a></p>
                      <p class="env-txt">Manmade vs. Natural Textile Fibres/Fabrics/Textiles : A Fair Comparison</p>
                    </div>
                </a>
              </div>
            </div>
            <br> <br>  
            <div class="row mb-3"> 
              <div class="col-md-4">
                <a class="lightbox" href="#">
                  <img src="./assets/images/environment-page2/2-4.png" alt="Park" class="img-hovr" height="390px">
                  <br> <br>
                  <div class="txt-area">
                      <p class="env"> <a href="#">ENVIRONMENTAL IMPACTS</a></p>
                      <p class="env-txt">Solid, Water & Air Pollution from the Fashion Industry</p>
                    </div>
                </a>
              </div>
                  <br> <br>    
              <div class="col-md-4">
                <a class="lightbox" href="#">
                  <img src="./assets/images/environment-page2/2-5.png" alt="Park" class="img-hovr" height="390px" width="97%">
                   <br> <br>
                  <div class="txt-area">
                      <p class="env"> <a href="#">ENVIRONMENTAL IMPACTS</a></p>
                      <p class="env-txt">What are Organic Textiles, Fabrics and Garments ? and why are they so important ?</p>
                    </div>
                </a>
              </div>
                  <br> <br>
              <div class="col-md-4">
                <a class="lightbox" href="#">
                  <img src="./assets/images/environment-page2/2-6.png" alt="Park" class="img-hovr" height="390px">
                  <br> <br>
                  <div class="txt-area">
                      <p class="env"> <a href="#">ENVIRONMENTAL IMPACTS</a></p>
                      <p class="env-txt">What are Biodegradable Fabrics?</p> 
                    </div>
                </a>
              </div>
            </div>
              <br> <br>
              <div class="row mb-3">
              <div class="col-md-4">
                  <a class="lightbox" href="#">
                    <img src="./assets/images/environment-page2/2-7.png" alt="Park" class="img-hovr" height="390px">
                    <br><br>
                    <div class="txt-area">
                        <p class="env"> <a href="#">ENVIRONMENTAL IMPACTS</a></p>
                        <p class="env-txt">What are Manmade or Synthetic Fabrics?</p>
                      </div>
                  </a>
                </div>
                <br> <br>
                <div class="col-md-4">
                    <a class="lightbox" href="#">
                      <img src="./assets/images/environment-page2/2-8.png" alt="Park" class="img-hovr" height="390px">
                      <br> <br>
                      <div class="txt-area">
                          <p class="env"> <a href="#">ENVIRONMENTAL IMPACTS</a></p>
                          <p class="env-txt">Fashion Sustainability : 5 Eye Opening Facts!</p>
                        </div>
                    </a>
                  </div>
                  <br> <br>    <br> <br>  
                  <div class="col-md-4">
                      <a class="lightbox" href="#">
                        <img src="./assets/images/environment-page2/2-9.png" alt="Park" class="img-hovr" height="390px">
                        <br> <br>
                        <div class="txt-area">
                            <p class="env"> <a href="#">ENVIRONMENTAL IMPACTS</a></p>
                            <p class="env-txt">Dirty Secrets of your ‘Clean’ Laundry</p>
                          </div>
                      </a>
                    </div>
            </div>

            <!--Pagination Coding Start-->
            <div class="pagination">
             <div class="container">
              <a href="environment" style='font-size:40px;'>&#8592;</a>
               <a href="environment">1</a>
               <a class="active" href="environment-page-2">2</a>
               <a href="environment-page-3">3</a>
               <a href="environment-page-4">4</a>
               <a href="environment-page-3" style='font-size:40px;'>&#8594;</a>
             </div>
            </div>
            <!--Pagination Coding Closed-->

          </div>    
        </div>
      </div>
    </div>
  <!--Image Pagination Coding Closed-->
 
  <!--Before Slider Line Coding Start-->
  <div class="line-div"></div>
  <!--Before Slider Line Coding Closed-->

  <!--You May Coding Start-->
  <div class="youalso">
    <h1 class="youcls">You may also like
    </h1>
    <div class="you-line"></div>
  </div>
  <!--You May Coding Closed-->

 <!--Image Slider Coding Start-->
<div id="slid-er" class="container-fluid">
    <h2 class="text-center">Slider</h2>
    <!--Slider-->
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
       <div class="carousel-inner">
         <div class="carousel-item active">
           <!--First Slider Start-->
           <div class="row">
             <div class="col-3"> <img src="./assets/images/footer1.png" class="d-block w-100" alt="images">
             <h3 class="slide-txt">Banana and Pineapple Fabrics</h3>
             <p class="date-post">Posted on january 18, 2018</p>
             <p class="slider-content">Turning Food into Wearables I’m sure many of us have ever dreamed of transforming our favourite food into something we could wear. With pop stars like</p>
            </div>
             <div class="col-3"> <img src="./assets/images/footer2.png" class="d-block w-100" alt="images">
             <h3 class="slide-txt">All You Need To Know About Natural Dyes</h3>
             <p class="date-post">Posted on April 3, 2018</p>
             <p class="slider-content">That brilliant, fire-engine red colour of your favourite dress, the royal purple of your favourite shirt and even the earthy brown of your fluffy bath towel</p>
            </div>
             <div class="col-3"> <img src="./assets/images/footer3.png" class="d-block w-100" alt="images">
             <h3 class="slide-txt">Not to Dye for: Harmful Textile Dyeing</h3>
             <p class="date-post">Posted on April 3, 2018</p>
             <p class="slider-content">According to a report from Cambridge University, approximately 50,000  tons of dye...</p>
            </div>
             <div class="col-3"> <img src="./assets/images/footer4.png" class="d-block w-100" alt="images">
              <h3 class="slide-txt">3-4 kg of greenhouse gasses are emitted by each garment thrown into a landfill.</h3>
              <p class="date-post">Posted on january 18, 2018</p>
              <p class="slider-content">3-4 kg  of greenhouse gasses are emitted by each garment thrown into a landfill.  </p>
            </div>
           </div>
         </div>
         <!--First Slider Closed-->
         <!--Second Slider Start-->
         <div class="carousel-item">
           <div class="row">
            <div class="col-3"> <img src="./assets/images/footer5.png" class="d-block w-100" alt="images">
              <h3 class="slide-txt">6kg  washing load drains 700,000 synthetic fibres into waste water, killing marine life.</h3>
              <p class="date-post">Posted on january 18, 2018</p>
              <p class="slider-content">6kg  washing load drains 700,000 synthetic fibres into waste water, killing marine life. </p>
            </div>
              <div class="col-3"> <img src="./assets/images/footer6.png" class="d-block w-100" alt="images">
              <h3 class="slide-txt">An item of clothing travels 32,000 kms or 20,000 miles to get to it final consumer.</h3>
              <p class="date-post">Posted on january 18, 2018</p>
              <p class="slider-content">An item of clothing travels 32,000 kms or 20,000 miles to get to it final consumer.</p>
            </div>
              <div class="col-3"> <img src="./assets/images/footer7.png" class="d-block w-100" alt="images">
              <h3 class="slide-txt">1800 chemicals are used in the textile life cycle; many could harm humans.</h3>
              <p class="date-post">Posted on january 18, 2018</p>
              <p class="slider-content">1800 chemicals are used in the textile life cycle; many could harm humans.</p>
            </div>
              <div class="col-3"> <img src="./assets/images/footer8.png" class="d-block w-100" alt="images">
               <h3 class="slide-txt">Cotton is thirsty plant and use 3% of all water consumed by agriculture.</h3>
               <p class="date-post">Posted on january 18, 2018</p>
               <p class="slider-content">Cotton is thirsty plant and use 3% of all water consumed by agriculture.</p>
              </div>
           </div>
         </div>
         <!--Second Slider Closed-->
         <!--Third Slider Start-->
         <div class="carousel-item">
            <div class="row">
             <div class="col-3"> <img src="./assets/images/footer9.png" class="d-block w-100" alt="images" height="400px">
               <h3 class="slide-txt">What is Non-Violent or Ahimsa Silk ?</h3>
               <p class="date-post">Posted on December 19, 2017</p>
               <p class="slider-content">Ahimsa means non-violence in Urdu (Indian language). Ahimsa silk, like the name suggests is a process of non-violent silk manufacturing that does not harm silkworms unlike</p>
             </div>
               <div class="col-3"> <img src="./assets/images/footer10.png" class="d-block w-100" alt="images" height="400px;">
               <h3 class="slide-txt">5 Reasons to Love Pre-loved Fashion</h3>
               <p class="date-post">Posted on December 19, 2017</p>
               <p class="slider-content">We’ve all been in a similar situation; your favourite pair of jeans are now too tight for you but you just can’t let go. Or, you’ve</p>
             </div>
               <div class="col-3"> <img src="./assets/images/footer11.png" class="d-block w-100" alt="images">
               <h3 class="slide-txt">Why Should We Recycle</h3>
               <p class="date-post">Posted on December 19, 2017</p>
               <p class="slider-content">Consider this: In 2013, Americans alone discarded 15.1 million tons of clothing and other textiles, and 85 % of that wound up in landfills. According to</p>
             </div>
               <div class="col-3"> <img src="./assets/images/footer12.png" class="d-block w-100" alt="images">
                <h3 class="slide-txt">Understanding the Components and Importance of Textile Sustainability</h3>
                <p class="date-post">Posted on December 19, 2017</p>
                <p class="slider-content">Factors in understanding textile sustainability Sustainability has become a buzz word in the fashion and textile industry, but what do we mean when we say it?</p>
               </div>
            </div>
          </div>
         <!--third Slider Closed-->
         
       </div>
     <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
       <span class="carousel-control-prev-icon" aria-hidden="true"></span>
       <span class="sr-only">Previous</span>
     </a>
     <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
       <span class="carousel-control-next-icon" aria-hidden="true"></span>
       <span class="sr-only">Next</span>
     </a>
   </div>
  </div>
  <!--Image Slider Coding Closed-->
  <br> <br>
  <!--Green div Coding Start-->
<div class="divgreen"></div>
<!--Green div Coding Closed-->

  <!--Footer Coding Start-->
<footer>
    <div class="fot-dv1">
    <div class="col-sm-4">
      <div class="col-md-9">
      <img class="footer-img" src="./assets/images/footer-img.png" alt="">
      <br>
      <br>
      <div class="fotxt">
      <p class="footer-txt">is a community of thought leaders who support textile & fashion sustainability.  Our aim is to create awareness and inspire changes across the textile life-cycle.</p>
      <p class="footer-txt">The Fabric of our World relies on us to work collectively to solve this global issue.</p>
    </div>
  </div>
  </div>
  </div>
     
   <div class="col-sm-8">
     <div id="id1" class="col-4 inner_item">
       <div class="idd1">
          <h2>Follow Us</h2>
          <li><a target="blank" class="social" href="https://www.instagram.com/fabricoftheworld/"><i class="fab fa-instagram"></i></a></li>
          <li><a target="blank" id="socil" class="social" href="https://www.facebook.com/fabricoftheworld/"><i class="fab fa-facebook-f"></i></a></li> 
       </div>
     </div>
     <div id="id2" class="col-4 inner_item">
       <div class="idd2">
          <h2>Connect</h2>
          <div class="menu1">
            <p><a href="contribution">CONTRIBUTION</a></p>
            <p><a href="contact">CONTACT US</a></p>
            <p><a href="ask">ASK AN EXPERT</a></p>
            </div>
       </div>
     </div>
     <div id="id3" class="col-4 inner_item">
       <div class="idd3">
          <h2>Explore</h2>
          <div class="menu1">
            <p><a href="about">ABOUT</a></p>
            <p><a href="innovation">INNOVATION</a></p>
            <p><a href="community">COMMUNITY</a></p>
            <p><a href="environment">ENVIRONMENT</a></p>
            <p><a href="call">CALLTO ACTION</a></p>
            </div>
       </div>
     </div>
   </div>
  
  </footer>
    <!--Footer Coding Closed-->
   <!--Copy Right Coding Start-->
   <div class="right-copy">
      © 2014 - 2018 Fabric of the World. All Rights Reserved					
</div>
<!--Copy Right Coding Closed-->
</body>
</html>