<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Page Title</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <!--Banner Image Coding Start-->
  <div class="img-control">
  <div class="img-txt">
     <h2 class="h2-1">Fabric Of The<br>Environment</h2>
     <div class="hrln"></div>  
      <div class="hrdv"></div>
      <p class="p-size">Your actions can revive the weakening <br> Fabric of our community</p>
      <p class="p-size">The processes involved in fast fashion<br>are adversely affection our health,<br>worker’s livelihood indigenous crafts.</p>
  </div>
</div>
  <!--Banner Image Coding Closed-->

  <!--Image Pagination Coding Start-->
  
  <div class="griid">
      <div class="container-fluid">
        <div class=" gallery-container">
          <div class="tz-gallery">
            <div class="row mb-3">
              <div class="col-md-4">
                <a class="lightbox" href="#">
                  <img src="./assets/images/environment-page4/4-1.png" alt="Park" class="img-hovr" height="390px">
                  <br> <br>
                    <div class="txt-area">
                      <p class="env"> <a href="#">ENVIRONMENTAL IMPACTS</a></p>
                      <p class="env-txt">Citarum River Is Polluted by Factories That Make Your Clothes</p>
                    </div>
                </a>
              </div>
              </div>
                     <br> <br>         

            <!--Pagination Coding Start-->
            <div class="pagination">
             <div class="container">
              <a href="environment-page-3" style='font-size:40px;'>&#8592;</a>
               <a href="environment">1</a>
               <a href="environment-page-2">2</a>
               <a href="environment-page-3">3</a>
               <a class="active" href="environment-page-4">4</a>
             </div>
            </div>
            <!--Pagination Coding Closed-->

         
        </div>
      </div>
    </div>
    </div>
  <!--Image Pagination Coding Closed-->
 
  <!--Green div Coding Start-->
<div class="divgreen"></div>
<!--Green div Coding Closed-->

  <!--Footer Coding Start-->
<footer>
    <div class="fot-dv1">
    <div class="col-sm-4">
      <div class="col-md-9">
      <img class="footer-img" src="./assets/images/logo.png" alt="">
      <br>
      <br>
      <div class="fotxt">
      <p class="footer-txt">is a community of thought leaders who support textile & fashion sustainability.  Our aim is to create awareness and inspire changes across the textile life-cycle.</p>
      <p class="footer-txt">The Fabric of our World relies on us to work collectively to solve this global issue.</p>
    </div>
  </div>
  </div>
  </div>
     
   <div class="col-sm-8">
     <div id="id1" class="col-4 inner_item">
       <div class="idd1">
          <h2>Follow Us</h2>
          <mat-icon>facebook</mat-icon>
          <mat-icon></mat-icon>
       </div>
     </div>
     <div id="id2" class="col-4 inner_item">
       <div class="idd2">
          <h2>Connect</h2>
          <div class="menu1">
              <p>CONTRIBUTORS</p>
              <P>CONTACT US</P>
              <P>ASK AN EXPERT</P>
            </div>
       </div>
     </div>
     <div id="id3" class="col-4 inner_item">
       <div class="idd3">
          <h2>Explore</h2>
          <div class="menu1">
              <p>ABOUT</p>
              <P>INNVOATOIN</P>
              <P>COMMUNITY</P>
              <P>ENVIRONMENT</P>
              <P>CALL TO ACTION</P>
            </div>
       </div>
     </div>
   </div>
  
  </footer>
    <!--Footer Coding Closed-->
  
</body>
</html>