* {
  box-sizing: border-box;
}
/*Header Style Start*/

.header {
  overflow: hidden;
  background-color: #8fbc3c;
  height: 47px;
  position: static;
}
.header-column{
  padding: 0px 60px !important;
  box-sizing: border-box;
  margin-bottom: 0;
  overflow: hidden;
  width: 98%;
  margin: 0.10% 33px;
  padding-right: -2px;
  padding-left: 3px;
}
ul{
  list-style: none outside;
  padding: 10px;
}
.contact_detail li a{
  float: right;
  color: #666;
  padding: 5px;
  margin-left: 3px;
  margin-right: 3px;
}
.contact_detail .hovr{
  float: right;
  color: #666;
  padding: 5px;
  font-size: 11px;
  font-family: "gotham", Arial, Tahoma, sans-serif;
  margin-left: 3px;
  margin-right: 3px;
}
.contact_detail .hor{
  margin-top: -5px;
}
a{
  text-decoration: none;
}
.contact_detail li a:hover{
  color: #999 !important;
}

/*Header Style Closed*/

/*  Sticky Navbar Cdoing Start */
.menubar{
  background: white;
  height: 89px;
  width: auto;
}
@media (min-width: 1200px) {
  .container-fluid {
    width: 1820px;
  }
}

.img-txt{
  visibility: hidden;
  font-size: 15px;
  font-family: serif;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.navbar-brand:hover .img-txt{
  visibility: visible;
}
.navbar-nav li a:hover{
  color: #5b5b5b;
}
.navbar-nav{
  padding: -50px;
}
.navbar-nav li a{
  padding: 0 0 0 10px;
  transform: scale(0.8, 1);
  display: block;
  line-height: 50px;
  white-space: nowrap;
  border-right-width: 2px;
  font-weight: 550;
  transition: 0.5s;
}
.nav-link{
  transform: scale(0.8, 1);
  display: block;
  line-height: 40px;
  white-space: nowrap;
  border-right-width: 1px;
  border-style: solid;
  border-color: #fff;
}
.navbar{
  width: 100%;
  
}
.mat-toolbar-row{
  transition-delay: 0.5s;
}
.mat-toolbar-row, .mat-toolbar-single-row {
  display: block;
  box-sizing: border-box;
  padding: 0px;
  width: 100%;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
  margin-right: 10px;
  transition-delay: 1s;
}
ul li a{
   color: black;
   font-size: 15px;
   font-weight: 400;
   font-family: "gotham", Arial, Tahoma, sans-serif;
}
.mat-elevation-z5 {
  position: relative;
  z-index: 999999;
}
.img-siz{
  width: 300px;
  margin-left: 26px;
}
.sticky {
  position: fixed;
  top:0;
}
/*  Sticky Navbar Cdoing Closed*/




