* {
  box-sizing: border-box;
}
/*Header Style Start*/

.header {
  overflow: hidden;
  background-color: #8fbc3c;
  height: 3em;
  position: static;

}
.header-column{
  padding: 0px 72px !important;
  box-sizing: border-box;
  margin-bottom: 0;
  overflow: hidden;
  width: 98%;
  margin: 0 1% 40px;
}
ul{
  list-style: none outside;
  padding: 10px;
}
.contact_detail li a{
  float: right;
  margin-left: 10px;
  color: #666;
  padding: 5px;
  font-size: 12px;
  font-weight: 600;
}
a{
  text-decoration: none;
}
.contact_detail li a:hover{
  color: #D3D3D3;
}
/*Header Style Closed*/

/*  Sticky Navbar Cdoing Start */
.menubar{
  background: white;
  height: auto;
  width: 100%;
}
@media (min-width: 1200px) {
  .container-fluid {
    width: 1700px;
  }
}
.navbar{
  width: 100%;
}
.mat-toolbar-row, .mat-toolbar-single-row {
  display: block;
  box-sizing: border-box;
  padding: 0px;
  width: 100%;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
}
ul li a{
   color: black;
   font-size: 14px;
   font-weight: 400;
   font-family: "gotham", Arial, Tahoma, sans-serif;
}
.mat-elevation-z5 {
  position: relative;
  z-index: 999999;
}

.sticky {
  position: fixed;
  top:0;
}
/*  Sticky Navbar Cdoing Closed*/