<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Page Title</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <!--Nav Coding Start-->
  <div class="navbar navbar-expand-sm bg-light">
    <ul class="navbar-nav">
       <!--Environment Coding Start-->
        <li class="nav-item">
          <a id="fnt" routerLink="environment" class="nav-link">ENVIRONMENT</a>
        </li>
       <!--Environment Coding Closed-->

       <!--Community Coding Start-->
       <li class="nav-item">
          <a id="fnt" routerLink="community" class="nav-link">COMMUNITY</a>
        </li>

       <!--Community Coding Closed-->

       <!--Innovation Coding Start-->
       <div class="dropdown">
            <li class="nav-item">
              <a id="fnt" routerLink="innovation" class="nav-link">INNOVATION</a>
              <div class="dropdown-content">
                  <a id="fnt1" routerLink="#">TEXTILE ADVANCEMENTS</a>
                  <a id="fnt1" routerLink="#">INFLUENCERS</a>
              </div>
            </li>
          </div>

       <!--Innovation Coding Closed-->

       <!--Call-To-Action Coding Start-->
       <div class="dropdown">
        <li class="nav-item">
          <a id="fnt" routerLink="call" class="nav-link">CALL TO ACTION</a>
          <div class="dropdown-content">
              <a id="fnt1" routerLink="#">DONATE</a>
              <a id="fnt1" routerLink="#">FASHION MOVEMENTS</a>
              <a id="fnt1" routerLink="#">SHARING ECONOMY</a>
              <a id="fnt1" routerLink="#">SHOP ECOFRIENDLY</a>
              <a id="fnt1" routerLink="#">SHOP ECTHICAL</a>
              <a id="fnt1" routerLink="#">START IN YOUR HOME</a>
            </div>
        </li>
      </div>
       <!--Call-To-Action Coding Closed-->

       <!--Logo Coding Start-->
      <a routerLink="home">
        <img src="./assets/images/logo.png" alt="Fabric Of The World">
      </a>
       <!--Logo Coding Closed-->
       &nbsp;
       <!--gylphicons Coding Start-->
       
        <i class="fa fa-search"></i> 
       <a href=""><p class="ask">Ask An Expert</p></a>
       <a href=""><p class="ask">Contribution</p></a>
       <a href=""><p class="ask">About Us</p></a> &nbsp; &nbsp;
       <a href="https://www.facebook.com/fabricoftheworld/"> <i class="fa fa-facebook"></i> </a> &nbsp; &nbsp;
       <a href="https://www.instagram.com/fabricoftheworld/"> <i class="fa fa-instagram"></i> </a>

       <!--Gylphicons Coding Closed-->
    </ul>
  </div>
   <!--Nav Coding Closed-->




</body>
</html> 