/*Banner Image-With Text Coding Start*/
.img-fluid{
    z-index: 99999;
}
.h2-1{
    color: #e05826;
    font-size: 67px;
    font-weight: 900;
    line-height: normal;
    padding-top: 50px;
}
.img-control{
    height: 700px;
}
.img-txt{
    background: url("/assets/images/community.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    color: #fff;
    height: 650px;
    padding-top: 80px;
    padding-left: 200px;
    z-index: 99999;
}
.p-size{
    color: #fff;
    font-size: 21px;
    letter-spacing: 1px;
    font-weight: 600;
    margin-top: 32px;
    line-height: 31px;
    font-family: "Raleway", Arial, Tahoma, sans-serif;
}
.hrln{
    width: 7em;
    height: 7px;
    background: #e05826;
}
/*Banner Image-With Text Coding Closed*/

 /*Grid Image Pagination Coding Start*/
 .griid{
     padding-left: 85px;
     padding-right: 85px;
     height: 1850px; 
 }
 .img-hovr:hover{
     border: 3px solid #8fbc3c;
     transition: 0.5s;
 }
 .img-hovr{
    border: 3px solid #fff;
}
.env{
    color: #b1b1b1;
    font-weight: 548;
    font-family: "gotham", Arial, Tahoma, sans-serif;
    font-size: 11px;
}
.env-txt{
    font-family: Georgia, serif;
    color: #000;
    font-size: 20px;
}
a{
    text-decoration: none;
}
.env a{
    color: #b1b1b1;
}
.env a:hover{
    color: #8fbc3c;
}
.container{
  height: 20px;
  text-align: center;
}

.pagination {
  text-align: center;
}

.pagination a {
  color: #A9A9A9;
  text-align: center;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  border-radius: 50%;
  margin: 0 4px;
}
.pagination a:hover{
  color: black;
}
.active{
  border: 1px solid silver;
  border-radius: 30%;
}
 /*Grid Image Pagination Coding Closed*/

/*Green-Div Css Start*/
.divgreen{
    height: 10px;
    background: #7fba3b;
  }
  /*Green-Div Css Closed*/

/*Footer Style Start*/
footer{
    background-color: #231f21;
    height: 500px;
  }
  .footer-txt{
    color: white;
    text-align: left;
    font-family: Georgia, serif;
    color: #cccccc;
    font-size: 17px;
  }
  .footer-img{
    width: 400px;
  }
  #id1{
    height: 100px;
    float: right;
  }
  #id2{
    height: 100px;
    float: right;
  }
  #id3{
    height: 100px;
    float: right;
  }
  .idd1 li a{
    float: left;
    border: 1px solid #fff;
    border-radius: 67%;
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 26px;
    color: #fff !important;
    margin-right: 7px;
  }
  .social{
    position: absolute;
  }
  #socil{
    float: right;
    margin-left: -50px;
    margin-top: -23px;
  }
  .idd1{
    text-align: center;
  }
  .idd2{
    text-align: center;
  }
  .idd3{
    text-align: center;
  }
  .menu1{
    font-size: 12px;
  }
  h2{
    font-size: 30px;
    line-height: 34px;
    font-weight: 300;
    letter-spacing: 0px;
    font-family: "Raleway", Arial, Tahoma, sans-serif;
    font-weight: 900;
    color: #ffffff;
  }
  .menu1{
    font-size: 13px;
    color: #ffffff;
    font-weight: bold;
  }
  .col-sm-8{
    float: right;
    text-align: center;
    bottom: 250px;
  }
  .fot-dv1{
    padding-top: 100px;
    text-align: center;
    margin-left: 40px;
  }
  /*Footer Style Closed*/

  /*Copyright CSS Start*/
@media only screen and (min-width: 1240px){
  .section_wrapper, .container {
      max-width: 1900px;
}
}
  .right-copy{
    font-size: 13.5px;
    font-family: "PT Sans", Arial, Tahoma, sans-serif;
    padding: 10px;
    margin-left: 15px;
    color: #626262;
  }
/*Copyright CSS Closed*/