<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Page Title</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  {{trys}}
    <h1>My-Users</h1>
    <div>
      <table style="width: 100%">
      <tr>
        <th>User-Name</th>
        <th>First-Name</th>
        <th>Last-Name</th>
        <th>Email</th>
      </tr>
        
      <tr *ngFor="let try of trys">
        <td> {{try.username}} </td>
        <td> {{try.firstname}} </td>
        <td> {{try.lasstname}} </td>
        <td> {{try.email}} </td>
      </tr>
      </table>
    </div>
</body>
</html>