.img-txt{
    background: url("/assets/images/community.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    color: #fff;
    height: 650px;
    padding-top: 80px;
    padding-left: 170px;
    z-index: 99999;
}
.p-size{
    color: #fff;
    font-size: 21px;
    letter-spacing: 1px;
    font-weight: 600;
    margin-top: 32px;
    line-height: 31px;
    font-family: "Raleway", Arial, Tahoma, sans-serif;
}
h2{
    color: #e05826;
    font-size: 67px;
    font-weight: 900;
    line-height: normal;
    padding-top: 50px;
}