<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Page Title</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <!--Banner Image Coding Start-->
<div>
    <div class="img-txt">
       <h2>Fabric of <br>innovation
        <div class="hrln"></div>    
      </h2>
        <div class="hrdv"></div>
        <p class="p-size">Your actions can revive the weakening <br> Fabric of our community</p>
        <p class="p-size">The processes involved in fast fashion<br>are adversely affection our health,<br>worker’s livelihood indigenous crafts.</p>
    </div>
  </div>
    <!--Banner Image Coding Closed-->        
</body>
</html>