/*Text With Video Coding Start*/
.vidtxt{
  width: 625px;
  height: 730px;
  background: #0a0101;
  float: right;
}
.newp{
  color: white;
  font-style: italic;
  font-size: 31px;
  font-family: "PT Sans", Arial, Tahoma, sans-serif;
  text-align: center;
  margin-top: 80px;
  padding: 10px;
}
.newpp{
  color: #20a19c;
  font-family: Tahoma;
  font-style: italic;
  font-weight: 500;
  text-align: center;
  font-size: 31px;
}
.whthr{
  height: 10px;
  width: 55%;
  background: white;
  margin-left: 150px;
}
.knw{
  text-align: center;
  color: #fff;
  padding: 10px;
  font-size: 23px;
  font-weight: 500;
  font-family: "Raleway", Arial, Tahoma, sans-serif;
  line-height: 31px;
  
}
/*Text With Video Coding Closed*/

/*Image With Text Coding Start*/
.img-txt{
  height: 340px;
  background: skyblue;
  z-index: 999999;
}
.img-crop{
  height: 340px;
  width: 100%;
}
.imgtxt{
  font-size: 23px;
  font-family: "PT Sans", Arial, Tahoma, sans-serif;
  color: #ffffff;
  margin-top: -200px;
  margin-left: 12em;
  font-weight: 900;
}
.hrimg{
  background: #e05826;
  height: 8px;
  width: 70px;
  margin-left: 17.5em;
}
#col-css{
  padding-bottom: 20px;
}
/*Image With Text Coding Closed*/

/*Orange Line Coding Start*/
.hrdv2{
  height: 12px;
  background: #e05826;
}
/*Orange Line Coding Closed*/

/*Trending+Image Grid CSS Start*/
.trend-line{
  height: 5px;
  width: 60px;
  background: #8cc63f;
}
.ternd-image{
  padding: 40px;
  margin-left: 40px;
}
.grid-imgg{
  height: 600px;
}
.grid-text{
  color: #b1b1b1;
  font-weight: 400;
  font-family: "gotham", Arial, Tahoma, sans-serif;
  font-size: 11px;
}
.img-hvr:hover{
  border: 2px solid #8cc63f;
  pointer-events: block;
  display: block;
}
.img-hvr{
  border: 2px solid #fff;
}
.title-post{
  font-family: Georgia, serif;
  text-decoration: none;
  color: #000 !important;
  font-size: 20px;
}
.clsh1{
  font-weight: 549;
  font-family: "Raleway", Arial, Tahoma, sans-serif;
  font-size: 15px;
  color: #737373;
  letter-spacing: 2px;
}
/*Trending+Image Grid CSS Closed*/

/*Get Inspired Coding Start*/
.inspired-div{
  height: 293px;
  width: 100%;
  background: #f2f2f2;
}
.keeping{
  height: 350px;
  width: 64.4%;
  border: 3px solid #8cc63f;
  float: right;
  left: 20px;
  margin-top: -325px;
}
.bring-text{
  width: 560px;
  margin-left: 40px;
  margin-top: 50px;
}
.bring-shoe{
  font-size: 20px;
  font-weight: 900;
  color: #000;
  font-family: "Raleway", Arial, Tahoma, sans-serif;
}
.singapur{
  font-family: Georgia, serif;
    color: #000;
    font-size: 17px;
}
.btn{
  background: #20a19c;
  border-radius: 25px;
  font-size: 15px;
  color: white;
  margin: 20px;
}
.btn:hover{
  color: black;
}
.ins-keep{
  height: 293px;
  width: 475px;
  float: right;
  
}
.keeping:hover{
  border-color: #20a19c;
}
.keep-text{
  font-size: 20px;
  font-weight: 900;
  color: #000;
  font-family: "Raleway", Arial, Tahoma, sans-serif;
}
.like{
  font-family: Georgia, serif;
  color: #000;
  font-size: 17px;
}
.keep-box{
  width: 580px;
  margin: 85px;
  float: right;
}
#btnn{
 float: right;
}
.bringing{
  height: 300px;
  width: 61%;
  border: 3px solid #8cc63f;
  z-index: 14;
}
.bringing:hover{
  border-color: #20a19c;
}

/*Get Inspired Coding Closed*/

/*Most Viewed Coding Start*/
.mostviewed-image{
  padding: 40px;
  margin-left: 40px;
}
.clsh2{
  font-weight: 549;
  font-family: "Raleway", Arial, Tahoma, sans-serif;
  font-size: 15px;
  color: #737373;
  letter-spacing: 2px;
}
.viewed-line{
  height: 5px;
  width: 60px;
  background: #8cc63f;
}


/*Most Viewed Coding Closed*/
/*Image Slider Coding Start*/
/*Image Slider Coding Closed*/

/*Image Slider CSS Coding Start*/
/*Image Slider CSS Coding Closed*/

/*Exprt line Coding start*/
.line{
  height: 10px;
  background: #20a19c;
}
/*Exprt line Coding Closed*/

/*Expert Row Css Start*/
a{
  text-decoration: none;  
  color: white;
}
 .exprtadvc{
  height: 320px;
  width: 100%;
  background: #20a19c !important;
 }
 #col1{
  text-align: center;
  height: 320px;
 }
 #col2{
  background: #f2f2f2;
  height: 320px;
}
.expert-name{
  height: 100px;
}
.hln-name{
  color: #fff;
  font-weight: 540;
  line-height: 28px;
  margin-bottom: 5px;
  font-size: 25px;
}
.hln-tag{
  font-size: 12px;
}
.expert-block{
  height: 75px;
  width: 600px;
  padding: 50px;
}
p.expert-block1{
  font-weight: 500;
  font-family: "Raleway", Arial, Tahoma, sans-serif;
  font-size: 14px;
  color: #737373;
  letter-spacing: 1px;
}
h2.expert-block1{
  font-size: 36px;
  line-height: 54px;
  color: #9c9c9c;
  font-weight: bold;
  font-family: "Raleway", Arial, Tahoma, sans-serif;
}
.expert-block1-line{
  height: 8px;
  width: 110px;
  background: #20a19c;
}
.arrow{
  content: "";
  width: 0;
  height: 0;
  border-top: 36px solid transparent;
  border-bottom: 46px solid transparent;
  border-right: 38px solid white;
  position: absolute;
  left: -21px;
  bottom: 13px;
  z-index: 999;
}
.expert-textt{
  height: 75px;
  width: 550px;
  text-align: center;
  padding: 70px;
}
.expert-text{
  font-style: italic;
  font-size: 22px;
  color: #20a19c;
  line-height: 35px;
}
#col3{
  text-align: center;
  background: #ffffff;
  height: 320px;
}
/*Expert Row Css Closed*/

/*Green-Div Css Start*/
.divgreen{
  height: 10px;
  background: #7fba3b;
}
/*Green-Div Css Closed*/

/*Footer Style Start*/
footer{
  background-color: #231f21;
  height: 500px;
}
.footer-txt{
  color: white;
}
.footer-img{
  width: 400px;
}
#id1{
  height: 100px;
  float: right;
}
#id2{
  height: 100px;
  float: right;
}
#id3{
  height: 100px;
  float: right;
}
.idd1{
  text-align: center;
}
.idd2{
  text-align: center;
}
.idd3{
  text-align: center;
}
.menu1{
  font-size: 12px;
}
h2{
  font-size: 30px;
  line-height: 34px;
  font-weight: 300;
  letter-spacing: 0px;
  font-family: "Raleway", Arial, Tahoma, sans-serif;
  font-weight: 900;
  color: #ffffff;
}
.menu1{
  font-size: 13px;
  color: #ffffff;
  font-weight: bold;
}
.col-sm-8{
  float: right;
  text-align: center;
  bottom: 250px;
}
.fot-dv1{
  padding: 35px;
  text-align: center;
}
/*Footer Style Closed*/

/*Copyright CSS Start*/
/*Copyright CSS Closed*/

