<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Page Title</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
 
  
</head>
<body>
  <!--Text-With Video Coding Start-->
  <div class="video-formate">
  <video class="video-fluid z-depth-1" autoplay loop controls muted>
      <source src="./assets/images/ULTIMATE-INRO-VIDEO-FINAL.mp4" type="video/mp4">
    </video>
    <div class="vidtxt">
    <div class="txt">
        <p class="newp">The textile life-cycle has <br> harmful impacts on our</p>
      <h4 class="newpp">environment <span class="ampersand">&</span> global <br> communities. </h4> 
    </div>
    <br>
    <div class="whthr"></div>
    <br> <br>
    <div class="knw-2">
        <img class="quot-1" src="./assets/images/quotation-1.png" alt="">
    <p class="knw">
         KNOWLEDGE EMPOWERS US TO CHANGE THE WITHERING FABRIC OF THE OUR WORLD.
          </p>
          <img class="quot-2" src="./assets/images/quotation-2.png" alt="">
  </div>
    </div>
  </div>
<!--Text-With Video Coding CLosed-->

<!--Image With Text Coding Start-->
    <div class="txt-img">
      <img class="img-crop" src="./assets/images/img-loggg.png" alt="">
      <div class="row">
          <div class="col-sm">
            <p class="imgtxt">The textile & fashion industry is the 2nd largest polluter in the world after oil.</p>
            <div class="hrimg"></div>
          </div>
          <div class="col-sm">
            <p class="imgtxt">Its malpractices harm our environment and global <br> communities.</p>
            <div class="hrimg"></div>
          </div>
      </div>
    </div>
<!--Image With Text Coding Closed-->

<!--Orange Line Coding Start-->
       <div class="hrdv2"></div>
<!--Orange Line Coding Closed-->

<!--Trending+Image Grid Coding Start-->
  <div class="ternd-image">
      <h1 class="clsh1">TRENDING
      </h1>
      <div class="trend-line"></div>
  </div>
  <div class="grid-imgg">
  <div class="container-fluid">
      <div class="row">
          <div class="col-sm-4">
              <a href="#" target="">
                <img class="img-hvr" src="./assets/images/footer9.png" alt="Lights" style="width:100%" height="400px;">
                <div class="caption">
                  <br>
                  <p class="grid-text">TEXTILE INNOVATIONS</p>
                  <h3 class="title-post">What is Non-Violent or Ahimsa Silk ?</h3>
                </div>
              </a>
          </div>
          <div class="col-sm-4">
              <a href="#" target="_blank">
                <img class="img-hvr" src="assets/images/footer2.png" alt="Nature" style="width:100%" height="400px;">
                <div class="caption">
                  <br>
                  <p class="grid-text">ENVIRONMENTAL IMPACTS</p>
                  <h3 class="title-post">All You Need To Know About Natural Dyes</h3>
                </div>
              </a>
          </div>
          <div class="col-sm-4">
              <a href="#" target="_blank">
                <img class="img-hvr" src="/assets/images/footer13.png" alt="Fjords" style="width:100%" height="400px;">
                <div class="caption">
                  <br>
                  <p class="grid-text">COMMUNITY IMPACTS</p>
                  <h3 class="title-post">Support Your Local Textile Industry Because…</h3>
                </div>
              </a>
          </div>
        </div>
      </div>  
    </div>
<!--Trendig+Image Grid Coding Closed-->
<!--Get Inspired Coding Start-->
        <div class="inspired-div">
        <div class="container-fluid">
          <div class="bringing">
            <img class="ins-keep" src="assets/images/ins-keep.jpg" alt="">          
            <div class="bring-text">
                <p class="bring-shoe">Bringing life to shoes.</p>
                <p class="singapur">Singapore’s disappearing trade. The last few remaining Cobbler In the Hearts of chinatown lies an enormous market. Home to various dry goods store, a wet market […]</p>
              </div>
              <button id="btt" class="btn">LEARN MORE</button>
        </div>
        </div>
        <div class="keeping">
            <h1 class="get-inspired">GET <br>
                INSPIRED.</h1>
                <div class="get-line"></div>
          <div class="keep-box">
          <p class="keep-text">Keeping The Kebaya Alive.</p>
          <p class="like">Like its colorful exterior, hidden within the heart of Joochiat is a well known Peranakan Rice dumpling store with pieces of history well decorated in its […]</p>
          <button class="btn">LEARN MORE</button>
        </div>
        
        </div>
        </div>
<!--Get Inspired Coding Closed-->

<!--Most Viewed Coding Start-->
<div class="mostviewed-image">
  <h1 class="clsh2">MOST VIEWED
  </h1>
  <div class="viewed-line"></div>
</div>
<!--Most Viewed Coding Start-->

<!--Image Slider Coding Start-->
<div id="slid-er" class="container-fluid">
  <h2 class="text-center">Slider</h2>
  <!--Slider-->
  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
     <div class="carousel-inner">
       <div class="carousel-item active">
         <!--First Slider Start-->
         <div class="row">
           <div class="col-3"> <img src="./assets/images/footer1.png" class="d-block w-100" alt="images">
           <h3 class="slide-txt">Banana and Pineapple Fabrics</h3>
           <p class="date-post">Posted on january 18, 2018</p>
           <p class="slider-content">Turning Food into Wearables I’m sure many of us have ever dreamed of transforming our favourite food into something we could wear. With pop stars like</p>
          </div>
           <div class="col-3"> <img src="./assets/images/footer2.png" class="d-block w-100" alt="images">
           <h3 class="slide-txt">All You Need To Know About Natural Dyes</h3>
           <p class="date-post">Posted on April 3, 2018</p>
           <p class="slider-content">That brilliant, fire-engine red colour of your favourite dress, the royal purple of your favourite shirt and even the earthy brown of your fluffy bath towel</p>
          </div>
           <div class="col-3"> <img src="./assets/images/footer3.png" class="d-block w-100" alt="images">
           <h3 class="slide-txt">Not to Dye for: Harmful Textile Dyeing</h3>
           <p class="date-post">Posted on April 3, 2018</p>
           <p class="slider-content">According to a report from Cambridge University, approximately 50,000  tons of dye...</p>
          </div>
           <div class="col-3"> <img src="./assets/images/footer4.png" class="d-block w-100" alt="images">
            <h3 class="slide-txt">3-4 kg of greenhouse gasses are emitted by each garment thrown into a landfill.</h3>
            <p class="date-post">Posted on january 18, 2018</p>
            <p class="slider-content">3-4 kg  of greenhouse gasses are emitted by each garment thrown into a landfill.  </p>
          </div>
         </div>
       </div>
       <!--First Slider Closed-->
       <!--Second Slider Start-->
       <div class="carousel-item">
         <div class="row">
          <div class="col-3"> <img src="./assets/images/footer5.png" class="d-block w-100" alt="images">
            <h3 class="slide-txt">6kg  washing load drains 700,000 synthetic fibres into waste water, killing marine life.</h3>
            <p class="date-post">Posted on january 18, 2018</p>
            <p class="slider-content">6kg  washing load drains 700,000 synthetic fibres into waste water, killing marine life. </p>
          </div>
            <div class="col-3"> <img src="./assets/images/footer6.png" class="d-block w-100" alt="images">
            <h3 class="slide-txt">An item of clothing travels 32,000 kms or 20,000 miles to get to it final consumer.</h3>
            <p class="date-post">Posted on january 18, 2018</p>
            <p class="slider-content">An item of clothing travels 32,000 kms or 20,000 miles to get to it final consumer.</p>
          </div>
            <div class="col-3"> <img src="./assets/images/footer7.png" class="d-block w-100" alt="images">
            <h3 class="slide-txt">1800 chemicals are used in the textile life cycle; many could harm humans.</h3>
            <p class="date-post">Posted on january 18, 2018</p>
            <p class="slider-content">1800 chemicals are used in the textile life cycle; many could harm humans.</p>
          </div>
            <div class="col-3"> <img src="./assets/images/footer8.png" class="d-block w-100" alt="images">
             <h3 class="slide-txt">Cotton is thirsty plant and use 3% of all water consumed by agriculture.</h3>
             <p class="date-post">Posted on january 18, 2018</p>
             <p class="slider-content">Cotton is thirsty plant and use 3% of all water consumed by agriculture.</p>
            </div>
         </div>
       </div>
       <!--Second Slider Closed-->
       <!--Third Slider Start-->
       <div class="carousel-item">
          <div class="row">
           <div class="col-3"> <img src="./assets/images/footer9.png" class="d-block w-100" alt="images" height="400px">
             <h3 class="slide-txt">What is Non-Violent or Ahimsa Silk ?</h3>
             <p class="date-post">Posted on December 19, 2017</p>
             <p class="slider-content">Ahimsa means non-violence in Urdu (Indian language). Ahimsa silk, like the name suggests is a process of non-violent silk manufacturing that does not harm silkworms unlike</p>
           </div>
             <div class="col-3"> <img src="./assets/images/footer10.png" class="d-block w-100" alt="images" height="400px;">
             <h3 class="slide-txt">5 Reasons to Love Pre-loved Fashion</h3>
             <p class="date-post">Posted on December 19, 2017</p>
             <p class="slider-content">We’ve all been in a similar situation; your favourite pair of jeans are now too tight for you but you just can’t let go. Or, you’ve</p>
           </div>
             <div class="col-3"> <img src="./assets/images/footer11.png" class="d-block w-100" alt="images">
             <h3 class="slide-txt">Why Should We Recycle</h3>
             <p class="date-post">Posted on December 19, 2017</p>
             <p class="slider-content">Consider this: In 2013, Americans alone discarded 15.1 million tons of clothing and other textiles, and 85 % of that wound up in landfills. According to</p>
           </div>
             <div class="col-3"> <img src="./assets/images/footer12.png" class="d-block w-100" alt="images">
              <h3 class="slide-txt">Understanding the Components and Importance of Textile Sustainability</h3>
              <p class="date-post">Posted on December 19, 2017</p>
              <p class="slider-content">Factors in understanding textile sustainability Sustainability has become a buzz word in the fashion and textile industry, but what do we mean when we say it?</p>
             </div>
          </div>
        </div>
       <!--third Slider Closed-->
       
     </div>
   <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
     <span class="carousel-control-prev-icon" aria-hidden="true"></span>
     <span class="sr-only">Previous</span>
   </a>
   <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
     <span class="carousel-control-next-icon" aria-hidden="true"></span>
     <span class="sr-only">Next</span>
   </a>
 </div>
</div>
<!--Image Slider Coding Closed-->

<br>
<!--Expert Row Coding Start-->
<!--Exprt line Coding start-->
<a href=""> <div class="line"></div></a>
<!--Exprt line Coding Closed-->
<a href="#">
 <div class="exprtadvc">
   <div class="row">
     <div id="col1" class="col-sm">
       <img src="./assets/images/expert.png" class="img-round" alt="">
       <br>
       <br>
       <div class="expert-name">
         <h3 class="hln-name">Helen D`Silver</h3>
         <p class="hln-tag">ENTREPRENEUR & ATTORNEY </p>
         <p class="hln-tag-1">environment & sustainability</p>
       </div>
     </div>
     <div id="col2" class="col-sm">
       <div class="expert-block">
         <p class="expert-block1">ASK AN EXPERT</p>
         <h2 class="expert-block1">Ask me anything to do with textile and fashion sustainability</h2>
         <div class="expert-block1-line"></div>
       </div>
     </div>
     <div id="col3" class="col-sm">
       <div class="arrow"></div>
       <div class="quete">
         <div class="expert-textt">
            <img class="quot-3" src="./assets/images/quotation-3.png" alt="quotation-3">
            <p class="expert-text">
                <span>Awareness is the first and most effective step to solving the issue of textile and fashion sustainability</span>
              </p>
              <img class="quot-4" src="./assets/images/quotation-4.png" alt="quotation-4">
         </div>
       </div>
     </div>
   </div>     
 </div>
</a>
<!--Expert Row Coding Closed-->

<!--Green div Coding Start-->
<div class="divgreen"></div>
<!--Green div Coding Closed-->
<!--Footer Coding Start-->
<footer>
  <div class="fot-dv1">
  <div class="col-sm-4">
    <div class="col-md-9">
    <img class="footer-img" src="./assets/images/footer-img.png" alt="">
    <br>
    <br>
    <div class="fotxt">
    <p class="footer-txt">is a community of thought leaders who support textile & fashion sustainability.  Our aim is to create awareness and inspire changes across the textile life-cycle.</p>
    <p class="footer-txt">The Fabric of our World relies on us to work collectively to solve this global issue.</p>
  </div>
</div>
</div>
</div>
   
 <div class="col-sm-8">
   <div id="id1" class="col-4 inner_item">
     <div class="idd1">
        <h2>Follow Us</h2>
        <div class="icon">
        <li><a target="blank" id="activv" class="active" href="https://www.instagram.com/fabricoftheworld/"><i class="fab fa-instagram"></i></a></li>
        <li><a target="blank" id="activ" class="active" href="https://www.facebook.com/fabricoftheworld/"><i class="fab fa-facebook-f"></i></a></li> 
      </div>
     </div>
   </div>
   <div id="id2" class="col-4 inner_item">
     <div class="idd2">
        <h2>Connect</h2>
        <div class="menu1">
          <p><a href="contribution">CONTRIBUTION</a></p>
          <p><a href="contact">CONTACT US</a></p>
          <p><a href="ask">ASK AN EXPERT</a></p>
          </div>
     </div>
   </div>
   <div id="id3" class="col-4 inner_item">
     <div class="idd3">
        <h2>Explore</h2>
        <div class="menu1">
          <p><a href="about">ABOUT</a></p>
          <p><a href="innvoation">INNOVATION</a></p>
          <p><a href="community">COMMUNITY</a></p>
          <p><a href="environment">ENVIROMNENT</a></p>
          <p><a href="call">CALL TO ACTION</a></p>

          </div>
     </div>
   </div>
 </div>
</footer>
  <!--Footer Coding Closed-->
  <!--Copy Right Coding Start-->
      <div class="right-copy">
						© 2014 - 2018 Fabric of the World. All Rights Reserved					
      </div>
  <!--Copy Right Coding Closed-->

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="js/bootstrap.min.js"></script>
</body>
</html>